body {
  background: #fff;
}
.draggable {
  width:  150px;
  height: 150px;
  padding: 0;
  float: left;
  margin: 0 0 0 0;
}
#draggable, #draggable2 {
    margin-bottom:20px;
}
#draggable {
    cursor: n-resize;
}
#draggable3 {
    cursor: move;
}
#containment-wrapper {
    width:  1400px;
    height: 1400px;
    border: 0px solid #000;
    padding: 5px;
}
