#maincontainer {
    text-align:center;
}

#block_container
{
    text-align:center;
}

#bloc1, #bloc2
{
    display: inline;
}

#sabre, #flyline
{
    display: inline-block;
    border: none;
    width: 200px;
    vertical-align: top;
}

.farecontainer {
    border: none;
    width: 200px;
}

.fare {
    margin: 3px;
    padding: 0px;
    border: 2px;
    border-style: solid;
    border-color: black;
    background-color: white;
    text-align: left;
    font-family: monospace;
}